.pic img{
    width: 140px;
}
td{
    font-size: 20px;
    text-align: center;
}

thead th{
    font-size: 20px;
    text-align: center;
}
.the_people{
    display: flex;
    justify-content: center;
}

.textSord{
    position: absolute;
    top: 2%;
    right:15%;
    text-align: left;
}
h1{
    text-align: center;
}
select{
    position: absolute;
    left:93%;
 
}
